# Question 1

In [ ]:
!pip install ipython-sql

In [1]:

print("\n****************************Question 1******************************\n")

a = 0       #creates a variable 'a'
def b():    #defines function b()
 global a   #creates a global variable 'a'
 a = c(a)   #calls another function c(a) and storing the value of c(a) in a

def c(a):   #defines another function c(a)
 return a + 2   #returns vakue a+2 to the function

b()     #calls the function b() for the first time with initial value of a=0 which returns/update value of a to 2
b()     #calls the function b() for the second time with new value of a=2  which returns/updates value of a to 4
b()     #calls the function b() for the third time with latest value pf a=4 which returns/updates value of a to 6
a       #stores the latest updated value of a
print("displaying the latest updated value of a = ",a)    #prints the latest updated value of 'a' which in 6 in this case

****************************Question 1******************************

displaying the latest updated value of a =  6

# Question 2

In [2]:
print("\n**************************Question 2*******************************\n")

def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print("File "+ file_name +" is found...!")
        print("\n The file length = ",len(contents))
    except FileNotFoundError:
        return "error...! file "+ file_name +" not found..!"

#if file is present in the folder :
print("\nchecking file prbm_set2_q1.py present or not...\n")
print(file_length('Filelength.txt'))

#if file is not present in  the folder :
print("\nchecking if file idterm.py is present or not...\n")
print(file_length('idterm.py'))

**************************Question 2*******************************


checking file prbm_set2_q1.py present or not...

File Filelength.txt is found...!

 The file length =  123
None

checking if file idterm.py is present or not...

error...! file idterm.py not found..!

# Question 3

In [3]:


print("\n**************************Question 3*******************************\n")


class Marsupial:
    lst=[]
    def init(self): 
        self.lst = []
        
    #Add to list
    def put_in_pouch(self, item):
        self.lst.append(item)
        
    #Return List
    def pouch_contents(self):
        return self.lst

class Kangaroo(Marsupial):

    def __init__(self,x,y):

            Marsupial.__init__(self)

            self.x = x

            self.y = y

    def jump(self,dx,dy):

        self.x += dx

        self.y += dy

    def __str__(self):

        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)+'\n'

m = Marsupial() 
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
print("class Marsupial contains :",m.pouch_contents(),"\n")

k = Kangaroo(0,0) 
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
print("subclass kangaroo contains : ",k.pouch_contents(),"\n") 
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

**************************Question 3*******************************

class Marsupial contains : ['doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (0,0)

subclass kangaroo contains :  ['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [4]:

print("\n**************************Question 4*******************************\n")

def collatz(x):
    #print value of x 
    print(x)
    if x==1:
        return
    elif x%2==0:
        return collatz(x//2)
    else:
        return collatz((x*3)+1)

x=int(input("entre any number to get collatz sequence : "))
collatz(x)

**************************Question 4*******************************

entre any number to get collatz sequence : 10
10
5
16
8
4
2
1

# Question 5

In [5]:

print("\n**************************Question 5*******************************\n")

def binary( n ):
    if n == 0:
        return 0
    else:
       
        return  n % 2 + 10 * binary(int(n // 2))

n = int(input("entre any integer to get its binary representation of integer : "))
print("in binary : ",binary(n))

**************************Question 5*******************************

entre any integer to get its binary representation of integer : 6
in binary :  110

# Question 6

In [6]:
print("\n**************************Question 6*******************************\n")

"""help - https://docs.python.org/3/library/html.parser.html"""
import re
from html.parser import HTMLParser
infile = open('w3c.html')
content = infile.read() 
infile.close()

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getHeading
        match = re.match(r'h(\d)', tag, re.I) 
        if match: getHeading = int(match.group(1))
            
    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)
        if match: getHeading = 0

    def handle_data(self, data):
        if getHeading > 0:
            tab = getHeading - 1
            out = " "*tab
            print(out+data)
            
getHeading = 0
hp = HeadingParser()
hp.feed(content)

**************************Question 6*******************************

W3C Mission


 Principles

# Question 7

In [7]:
print("\n**************************Question 7*******************************\n")

import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

**************************Question 7*******************************

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [30]:
!pip install ipython-sql
!pip install sqlite3
!pip install pysqlite3

Requirement already satisfied: ipython-sql in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: six in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlparse in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: prettytable in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython-genutils in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: appnope in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: matplotlib-inline in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/saurabhmehanti/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
Collecting pysqlite3
  Downloading pysqlite3-0.5.2.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.2-cp310-cp310-macosx_10_9_x86_64.whl size=36104 sha256=222340d2efea30aae8cd4361a4a040756bacc1a5e3e78027e20089d2a180e33b
  Stored in directory: /Users/saurabhmehanti/Library/Caches/pip/wheels/e2/21/91/98f59fb7a45dc523eacae9435e10a05218b1d1fcd7251adbbd
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.2

#### a) All the temperature data

In [34]:
import sqlite3
x=sqlite3.connect('tempInfo.db')
table=x.cursor()
table.execute("CREATE TABLE IF NOT EXISTS tempInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
table.execute("INSERT INTO tempInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
table.execute("INSERT INTO tempInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
table.execute("INSERT INTO tempInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

table.execute("SELECT * FROM tempInfo")
table.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [37]:
table.execute("SELECT Temperature FROM tempInfo")
for i in table:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

#### b) All the cities, but without repetition

In [44]:
table.execute("SELECT DISTINCT City from tempInfo")
for j in table:
    print(j)

('Mumbai',)
('London',)
('Cairo',)

#### c) All the records for India.

In [45]:
table.execute("SELECT * from tempInfo WHERE Country='India'")
for k in table:
    print(k)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

#### d) All the Fall records

In [46]:
table.execute("SELECT * from tempInfo WHERE Season='Fall'")
for l in table:
    print(l)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kindom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

#### e) The city, country, and season for which the average rainfall is between 200  and 400 millimeters.

In [47]:
table.execute("SELECT City, Country, Season, AVG(Rainfall) FROM tempInfo GROUP BY Rainfall Having AVG(Rainfall BETWEEN 200 and 400)")
for m in table:
    print(m)

('London', 'United Kindom', 'Winter', 207.7)
('London', 'United Kindom', 'Fall', 218.5)
('Mumbai', 'India', 'Fall', 346.0)

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [48]:
table.execute("SELECT City, Country, AVG(Temperature) FROM tempInfo WHERE Season='Fall' GROUP by Temperature HAVING AVG(Temperature) > 20 Order BY AVG(Temperature) ASC")
for n in table:
    print(n)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

#### g) The total annual rainfall for Cairo.

In [50]:
table.execute("SELECT City, SUM(Rainfall) FROM tempInfo WHERE City = 'Cairo'")
for o in table:
    print(o)

('Cairo', 27.6)

#### h) The total rainfall for each season.

In [51]:
table.execute("SELECT Season, SUM(Rainfall) FROM tempInfo GROUP BY Season")
for p in table:
    print(p)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9. 

Write list comprehension expressions that use list words and generate the following 
lists:

In [52]:

print("\n**************************Question 9*******************************\n")



words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

# a) Converting words into upper case words
UpperWords = [word.upper() for word in words]
print("Ans a).\n",UpperWords)
print("\n")


# b) Converting words into lower case words

LowerWords = [word.lower() for word in words]
print("Ans b).\n",LowerWords)
print("\n")


# c) calculating the list of length of words in list words

LengthWords = []
for w in words:
    LengthWords.append(len(w))     
print("Ans c).\n",LengthWords)
print("\n")


"""d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and 
the length of the word"""

initializeCounterValue = 0
single_List_Array = []
    
for j in words:
    single_List_Array.append(UpperWords[initializeCounterValue])
    single_List_Array.append(LowerWords[initializeCounterValue])
    single_List_Array.append(LengthWords[initializeCounterValue])
    initializeCounterValue = initializeCounterValue + 1

delimiterVariableLimit = 3
resultArray = [single_List_Array[additor:additor+delimiterVariableLimit] for additor in range(0, len(single_List_Array), delimiterVariableLimit)]
print("Ans d).\n",resultArray)
print("\n")

# e) finding the list of words in list words containing 4 or more characters in it

def wordString(k, str):    
    string = []     
    text = str.split(" ")     
    for x in text:         
        if len(x) >= k:            
            string.append(x)
    return string
    
result_list = [''.join([str(c) for c in lst]) for lst in words]
result_string = ' '.join(result_list)
requiredCharacterLength = 4
print("Ans e).\n",wordString(requiredCharacterLength, result_string))

**************************Question 9*******************************

Ans a).
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


Ans b).
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


Ans c).
 [3, 5, 5, 3, 5, 4, 3, 4, 3]


Ans d).
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


Ans e).
 ['quick', 'brown', 'jumps', 'over', 'lazy']